################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScoreKeeperWeb/FileContentIndex
/.vs
/ScoreKeeper/.vs/ScoreKeeper/FileContentIndex
/.vs/slnx.sqlite
