html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  //margin-bottom: 60px;
}


.top_buttons {
    text-align: right;
    margin: 0px auto 0px auto;
}

.button {
    border: none;
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: black;
    color: lightgray;
}

.buttonbig {
    padding: 32px 48px;
    font-size: 32px;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
}

.buttonmed {
    background-color: lightgray;
    padding: 16px 32px;
    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
}

.buttonsmall {
    background-color: lightgray;
    padding: 12px 24px;
    font-size: 12px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
}

.header {
    background-color: #74C5E5;
    margin-left: calc(50% - 50vw);
    margin-top: 0;
    width: 100vw;
    flex: 0 1 auto;
}

.header-container {
    width: 90vw;
    margin-left: calc(50% - 45vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-window {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    overflow: hidden;
}



.content-container {
    display: contents;
}


.button-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #102F3B;
}


