@page
@model IndexModel
@{
    
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<!--Top buttons section-->
<div class="top_buttons">
    <button type="button" class="button buttonsmall" data-bs-toggle="modal" data-bs-target="#CreateGameModal">
        Create Game
    </button>
    <button class="button buttonsmall" onclick="testFunction('Scoreboard');">Scoreboard</button>
</div>

<!--Main section with title and main buttons-->
<div class="text-center">
    <h1 class="display-4">Title</h1>
    <br />
    <br />
    <br />
    <br />
        <button type="button" class="button buttonbig" data-bs-toggle="modal" data-bs-target="#JoinGameModal">
            Join Game
        </button>
        <div />
        <br />
    <button class="button buttonmed" onclick="testFunction('Spectate');">Spectate</button>
</div>



<div id="testResult">
</div>

<!-- Create Game Modal -->

<div class="modal fade" id="CreateGameModal" tabindex="-1" aria-labelledby="CreateGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateGameModalLabel">Create Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Questions:</label>
                    <input type="number" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/TestWebpage'" class=" btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Join Game Modal -->
<div class="modal fade" id="JoinGameModal" tabindex="-1" aria-labelledby="JoinGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="JoinGameModalLabel">Join Game Lobby</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</div>


<script>
    function testFunction(buttonFunction) {
        const testPara = document.createElement("p");
        const testText = document.createTextNode("" + buttonFunction + " working as intended");
        testPara.appendChild(testText);

        const element = document.getElementById("testResult");
        element.appendChild(testPara);

        setTimeout(fade_out, 2500);

        function fade_out() {
            testPara.remove();
        }
    }
</script>


