@page
@model IndexModel
@{

}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
            crossorigin="anonymous"></script>
</head>


<!--Main section with title and main buttons-->
<div class="main-window">

        <!--Top buttons section-->
        <div class="header">
            <div class="header-container">
                <div>
                    <button type="button" class="button buttonsmall" data-bs-toggle="modal" data-bs-target="#CreateGameModal">
                        Create Game
                    </button>
                </div>

                <h1 class="display-4">Home Page</h1>
                <img src="ACSMLogo.png" alt="American College of Sports Medicine Logo" style="background:transparent;width:90px;height:90px;" />
            </div>
        </div>

        <div class="button-container">

            <button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#SpectateGameModal">
                Spectate
            </button>


            <button type="button" class="button buttonbig" data-bs-toggle="modal" data-bs-target="#JoinGameModal">
                Join Game
            </button>


            <button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#ScoreboardModal">
                Scoreboard
            </button>

        </div>
</div>


<!-- Create Game Modal -->

<div class="modal fade" id="CreateGameModal" tabindex="-1" aria-labelledby="CreateGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateGameModalLabel">Create Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Questions:</label>
                    <input type="number" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/CreateGamePage'" class=" btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Join Game Modal -->
<div class="modal fade" id="JoinGameModal" tabindex="-1" aria-labelledby="JoinGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="JoinGameModalLabel">Join Game Lobby</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="game-passcode" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="passcode" placeholder="Game Code">
                </div>
                <div class="col-sm-4">
                    <small id="passcodeHelp" class="text-danger">
                    </small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="testPasscode();" class=" btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</div>

<!-- Spectate Game Modal -->
<div class="modal fade" id="SpectateGameModal" tabindex="-1" aria-labelledby="SpectateGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="SpectateGameModalLabel">Spectate Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="gamecode" placeholder="Game Code">
                </div>
                <div class="col-sm-3" id="incorrect-gamecode">
                    <small id="gamecodeHelp" class="text-danger">
                    </small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">Spectate</button>
            </div>
        </div>
    </div>
</div>

<!-- Scoreboard Modal -->
<div class="modal fade" id="ScoreboardModal" tabindex="-1" aria-labelledby="ScoreboardLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ScoreboardLabel">View Scoreboard</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">View Scoreboard</button>
            </div>
        </div>
    </div>
</div>


<script>
    function testPasscode() {
        var passcode = $("#JoinGameModal #passcode").val().trim();
        console.log(passcode);

        $.ajax({
            url: "https://csdev.samford.edu/gamesapi/list.php",
            type: 'POST',
            dataType: 'json',
            data: {},
            crossDomain: true,
            success: function (response) {
                $("#rawdata").html(JSON.stringify(response));
                var games = response;
                games.forEach(function (item) {
                    if (item.passcode === passcode) {
                        window.location.assign("/JudgeWaitingPage");
                        // We'll want to put something here that stores the judge and what game they're assigned to
                    }
                });
                $("#JoinGameModal #passcode").removeClass('form-control');
                $("#JoinGameModal #passcode").addClass('form-control is-invalid');
                document.getElementById("passcodeHelp").textContent = 'Game code is incorrect';
            },
            error: function (xhr, status, error) {
                
                console.log("Error: " + error.message);
            }
        });
    }

</script>


