@page
@model IndexModel
@{

}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<!--Main section with title and main buttons-->
<div class="main-window">

        <!--Top buttons section-->
        <div class="header">
            <div class="header-container">
                <div>
                    <button type="button" class="button buttonsmall" data-bs-toggle="modal" data-bs-target="#CreateGameModal">
                        Create Game
                    </button>
                </div>

                <h1 class="display-4">Home Page</h1>
                <img src="ACSMLogo.png" alt="American College of Sports Medicine Logo" style="background:transparent;width:90px;height:90px;" />
            </div>
        </div>

        <div class="button-container">

            <button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#SpectateGameModal">
                Spectate
            </button>


            <button type="button" class="button buttonbig" data-bs-toggle="modal" data-bs-target="#JoinGameModal">
                Join Game
            </button>


            <button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#ScoreboardModal">
                Scoreboard
            </button>

        </div>
</div>


<!-- Create Game Modal -->

<div class="modal fade" id="CreateGameModal" tabindex="-1" aria-labelledby="CreateGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateGameModalLabel">Create Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Questions:</label>
                    <input type="number" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/CreateGamePage'" class=" btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Join Game Modal -->
<div class="modal fade" id="JoinGameModal" tabindex="-1" aria-labelledby="JoinGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="JoinGameModalLabel">Join Game Lobby</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</div>

<!-- Spectate Game Modal -->
<div class="modal fade" id="SpectateGameModal" tabindex="-1" aria-labelledby="SpectateGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="SpectateGameModalLabel">Spectate Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">Spectate</button>
            </div>
        </div>
    </div>
</div>

<!-- Scoreboard Modal -->
<div class="modal fade" id="ScoreboardModal" tabindex="-1" aria-labelledby="ScoreboardLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ScoreboardLabel">View Scoreboard</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Game Code:</label>
                    <input type="text" class="form-control" id="question_amt">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="window.location.href='/JudgeWaitingPage'" class=" btn btn-primary">View Scoreboard</button>
            </div>
        </div>
    </div>
</div>


<script>function testFunction(buttonFunction) {
        const testPara = document.createElement("p");
        const testText = document.createTextNode("" + buttonFunction + " working as intended");
        testPara.appendChild(testText);

        const element = document.getElementById("testResult");
        element.appendChild(testPara);

        setTimeout(fade_out, 2500);

        function fade_out() {
            testPara.remove();
        }
    }</script>


