@page
@model ScoreKeeper.Pages.JudgeSubmissionModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .button{
            display: flex;
            flex-grow:1;
            flex-direction:column;
            justify-content:space-evenly;
            justify-items:center;
            align-content:center;
            align-items:center;
        }
        .container-submit {
            flex-direction:row;
            display: flex;
            background-color: #102F3B;
            flex-grow:1;
            align-content: stretch;
            align-items: stretch;
            gap: 50px;
        }
            .container-submit > div{
                display: flex;
                flex-grow: 1;
                margin: 30px;
                
            }
   
        .main-window {
            background-color: #102F3B;
        }

        .button-text{
            font-size:32px;
        }

        .answer-symbol {
            font-size: 128px;
        }

        #checkmark {
            transform: rotate(45deg);
            height: 90px;
            width: 40px;
            margin: 38px;
            border-bottom: 9px solid black;
            border-right: 9px solid black;
        }
    </style>
</head>


<!--Main section with title and main buttons-->
<div class="main-window">
    <!--Top buttons section-->
    <div class="header">
        <div class="header-container">
            <div>
                <button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#HomeButtonModal">
                    Home
                </button>
            </div>
            <div style="display:flex; flex-direction:column; align-items:center;">
                <h2 class="display-6">Judge your team's answer and</h2>
                <h2 class="display-6">submit the result</h2>
            </div>
            <img src="ACSMLogo.png" alt="American College of Sports Medicine Logo" style="background:transparent;width:90px;height:90px;" />
        </div>
    </div>
    <div class="container-submit">
        <div>
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#IncorrectModal">
                <div class="button-text">Incorrect</div>
                <div class="answer-symbol">x</div>
            </button>
        </div>
        <div>
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#NoAnswerModal">
                <div class="button-text">No Answer</div>
                <div class="answer-symbol">-</div>
            </button>
        </div>
        <div>
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#CorrectModal">
                <div class="button-text">Correct</div>
                <div id="checkmark"></div>
            </button>
        </div>
    </div>
</div>



<!-- Home Button Modal -->
<div class="modal fade" id="HomeButtonModal" tabindex="-1" aria-labelledby="HomeButtonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="HomeButtonModalLabel">Are you sure you want to leave the game?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="window.location.href='/Index'" class=" btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Incorrect Button Modal -->
<div class="modal fade" id="IncorrectModal" tabindex="-1" aria-labelledby="IncorrectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="IncorrectModalLabel">The team's answer is INCORRECT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" style="justify-content:space-around">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change Submission</button>
                <button type="button" onclick="window.location.href='/JudgePostSubmission'" class=" btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- No Answer Button Modal -->
<div class="modal fade" id="NoAnswerModal" tabindex="-1" aria-labelledby="NoAnswerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="NoAnswerModalLabel">The team did not submit an answer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" style="justify-content:space-around">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change Submission</button>
                <button type="button" onclick="window.location.href='/JudgePostSubmission'" class=" btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Correct Button Modal -->
<div class="modal fade" id="CorrectModal" tabindex="-1" aria-labelledby="CorrectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CorrectModalLabel">The team's answer is CORRECT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" style="justify-content:space-around">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Change Submission</button>
                <button type="button" onclick="window.location.href='/JudgePostSubmission'" class=" btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
function testFunction() {
        const testPara = document.createElement("p");
        const testText = document.createTextNode("Leaderboard would appear here?");
        testPara.appendChild(testText);

        const element = document.getElementById("div2");
        element.appendChild(testPara);

        setTimeout(fade_out, 4500);

        function fade_out() {
            testPara.remove();
        }
    }</script>



