@page
@model ScoreKeeper.Pages.JudgeWaitingPageModel
@{
    ViewData["Title"] = "Judge Waiting Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<h1>@ViewData["Title"]</h1>

<div id="div1">
    <p>Welcome, Judge. Please wait for the next question.</p>
</div>

<button class="button buttonmed" onclick="testFunction()">Leaderboard</button>

<div id="div2">

</div>

<button type="button" class="button buttonmed" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Modal button test
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Will modal test</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Modal test. Just copying Davis lol
            </div>
        </div>
    </div>
</div>

<div id="div3">

</div>

<button type="button" onclick="window.location.href='/Index'" class=" button buttonmed">Back to Home</button>

<script>function testFunction() {
        const testPara = document.createElement("p");
        const testText = document.createTextNode("Leaderboard would appear here?");
        testPara.appendChild(testText);

        const element = document.getElementById("div2");
        element.appendChild(testPara);

        setTimeout(fade_out, 4500);

        function fade_out() {
            testPara.remove();
        }
    }</script>


