@page
@model ScoreKeeper.Pages.TestWebpageModel
@{
    ViewData["Title"] = "Test Webpage";
}

<head>
    <style>
        .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid black;
        }

            .button1:hover {
                background-color: black;
                color: white;
            }
    </style>
</head>


<h1>@ViewData["Title"]</h1>

<div id="div1">
    <p>This is a test to see if I can make a webpage 81368183</p>
</div>

<button class="button button1" onclick="testFunction()">Testing!!</button>

<div id="div2">

</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Davis modal test
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Davis modal test</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This is a test to see if I can create a modal, as well as making sure my GitHub is working.
            </div>
        </div>
    </div>
</div>

<script>function testFunction() {
        const testPara = document.createElement("p");
        const testText = document.createTextNode("The website and button are working as intended.");
        testPara.appendChild(testText);

        const element = document.getElementById("div2");
        element.appendChild(testPara);

        setTimeout(fade_out, 2500);

        function fade_out() {
            testPara.remove();
        }
    }</script>


